{
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "globals": {
        "atom": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-duplicate-case": "error",
        "no-undef": "error",
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used"
            }
        ]
    }
}